<p id="notice"><%= notice %></p>

<h1>Search Products</h1>


<div class="row">
  <% @products.each do |product| %>

  <div class="col" >
    <div class="product1">
      <p><%= image_tag product.image.url(:thumb) %></p>
      <p>Name : <%= product.name %></p>
      <p>Decription : <%= product.description %></p>
      <p>Expire : <%= product.expire %></p>
      <p>Store ID : <%= product.store_id %></p>
      <p>User ID : <%= product.user_id %></p>
      <p><%= link_to 'Show', product %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>

    </div>
    </div>
    <% end %>
</div>

<br>
