<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div id="price-container">
          <span class="price"><%= number_to_currency(@product.price) %></span>
        </div>
        <%= image_tag @product.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
                  <em><%= "#{@reviews.length} reviews" %></em><br><br><br>
        <% if user_signed_in? && current_user[:id] != @product[:user_id] %>
        <%= link_to "Review Product", new_product_review_path(@product), class: "btn btn-danger" %>
        <% end %>
      </div>
    </br>
      <div class="col-md-7 col-md-offset-1">
        </br></br></br>
        <ul class="nav nav-tabs">
        <li class="active"><a  href="#1" data-toggle="tab" style="text-decoration: none; color: black; font-weight: bold;"><h6>Info</h6></a></li>
        <li><a href="#3" data-toggle="tab" style="text-decoration: none; color: black; font-weight: bold;"><h6>Description</h6></a></li>
        <li><a href="#2" data-toggle="tab" style="text-decoration: none; color: black; font-weight: bold;"><h6>Review</h6></a></li>
      </ul>

      <div class="tab-content ">
        <div class="tab-pane active" id="1">
          <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong><%= @product.name %></strong></td>
              </tr>
              <tr>
                <td> <strong><%= @product.price %></strong></td>
              </tr>
              <tr>
                <td><strong><%= @product.expire %></strong></td>
              </tr>
              <tr>
                <td><%= image_tag(@product.store.logo.url(:thumb)) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="tab-pane" id="2">
        <% if @reviews.blank? %>
        <center><h2>No reviews.. please add first</h2></center>
        <% else %>
        <% @reviews.each do |review| %>
          <div class="reviews">
            <div class="star-rating" data-score=<%= review.rating %>></div>
            <p><%= review.comment %></p>
          </div>
          <% end %>
        <% end %>
        </div>
        <div class="tab-pane" id="3">
          <center><h3><%= image_tag(@product.image.url(:thumb)) %></h3>
           <h3><%= @product.description %></h3></center></br></br>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', root_path %>


<script>
    $('.star-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score')
        }
    });
</script>





  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>