<!DOCTYPE html>
<html>
  <head>
    <title>Tokopeloe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <link href="lightbox2-master-2/src/css/lightbox.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta property="og:url"                content="http://tokopeloe.herokuapp.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Tokopeloe" />
    <meta property="og:description"        content="Belanjalah disini guys.. salam lbz" />
    <meta property="og:image"              content="http://fbwerks.com:8000/zhen/cookie.jpg" />
  </head>
  <ul>
    <li><a class="active" href="/" style="text-decoration:none; font-size: 20px;">Home</a></li>
    <li><%= link_to "Store", stores_path, style: "text-decoration: none; font-size: 20px"  %></li>
    <% if !user_signed_in? %>
    <%= link_to "Admin ?", admin_root_path, class: "button1", style: "float:right; margin-top: 13px; margin-right: 50px" %><br />
    <% end %>
    <% if user_signed_in? %>
    <img src="assets/tokopeloe.png" style="width: 100px; height: 47px; float: right;">
    <div id="status">
    </div>
    <% end %>
  </ul>
  <body>

    <% if !user_signed_in? %>
    <div id="tengah" style="margin-top: 50px;">
    <% end %>
    <% if user_signed_in? %>
    <div id="tengah" style="margin-top: 50px;">
    <% end %>
    <%= yield %>
    <center>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Ftokopeloe.herokuapp.com&layout=button_count&size=small&mobile_iframe=true&appId=711532342514255&width=81&height=20" width="81" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    <center><h6><mark>&copy; Tokopeloe</mark></h6></center>
  </div>
  </div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v3.1&appId=711532342514255&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <script src="jquery.raty.js"></script>
  <script src="lightbox2-master-2/dist/js/lightbox.js"></script>
  </body>
</html>
