<!DOCTYPE html>
<html>
  <head>
    <title>Tokopeloe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="lightbox2-master-2/src/css/lightbox.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <ul>
    <li><a class="active" href="/" style="text-decoration:none;">Home</a></li>
    <li><%= link_to "Store", stores_path  %></li>
    <% if user_signed_in? %>
    <img src="assets/tokopeloe.png" style="width: 100px; height: 47px; float: right;">
    <% end %>
  </ul>
  <body>
    <% if user_signed_in? %>
    <center><img src="assets/tokopeloe1.png" style="width: 300px; height: 200px; margin-top: -50px;"></center>
    <% end %>
    <% if !user_signed_in? %>
    <div id="tengah" style="margin-top: 50px;">
    <% end %>
    <% if user_signed_in? %>
    <div id="tengah" style="margin-top: 50px;">
    <% end %>
    <%= yield %>
  </div>
  </div>
  <script src="jquery.raty.js"></script>
  <script src="lightbox2-master-2/dist/js/lightbox.js"></script>
  </body>
</html>
